You don't have to use packages such as datetime, timedelta, calendar.
Here I give you a more simple way using pandas. This will drastically shorten your program length.
Ignore Pycharm, just try it on your favorite notebook.
